.selectedButton {
  border-radius: 8px;
  margin: 3px;
  padding: 5px;
  background-color: #22346a;
  font-family: "inter";
  font-size: 15px;
}

.selectedButton:hover {
  background-color: #22346a;
}

.button {
  border-radius: 8px;
  font-family: "inter";
  font-size: 15px;
}

.appbar {
  display: flex;
  text-align: center;
  border-radius: 16px;
}

.text {
  color: white;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
